/* Calendar styling */
div[name="kalenteri_name_css"] {
    max-width: 1100px;
    max-height: 702px;
    margin: 0 auto;
}

div[name="kalenteri_name_css"] table {
    background-color: transparent;
    text-decoration: none;
}

div[name="kalenteri_name_css"] .fc-day {
    border-color: #ddd;
}

div[name="kalenteri_name_css"] .fc-timegrid-slot {
    background-color: transparent;
}

div[name="kalenteri_name_css"] .fc-header-toolbar button{
    background-color: #5baa00;
}

div[name="kalenteri_name_css"] .fc-scrollgrid-section.fc-scrollgrid-section-header {
    max-height: 32px;
}

div[name="kalenteri_name_css"] .fc-scrollgrid-section.fc-scrollgrid-section-header .fc-scroller-harness {
    max-height: 32px;
}

/* base styles */
.varausBaseButton {
    margin: 5px;
    padding: 5px;

    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.3s;
    min-width: 45%;
}

.baseGreen {
    background-color: #5baa00;
}
.baseGreen:hover {
    background-color: #498701;
}

.baseRed {
    background-color: #d12c0a;
}

.baseRed:hover {
    background-color: #ad2307;
}

/* varausPopup styling */
#varausPopup {
    display: grid;
    grid-template-columns: 2;
    grid-row: 3;
    border-color: #2c3e50;
    border-radius: 5px;
    border-width: 2px;
}

#varausPopup button {
    margin: 5px;
    padding: 5px;

    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.3s;
}

#varausPopup select {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

#varausPopup #closeButton {
    background-color: #d0d0d6;
}

#varausPopup #closeButton:hover {
    background-color: #9e9ea3;
}

#varausPopup #addButton {
    margin-top: 10px;
    background-color: #5baa00;
}

#varausPopup #addButton:hover {
    background-color: #498701;
}

#varausPopup p {
    text-align: center;
    margin-bottom: 3px;
    margin-top: 3px;
}

#varausPopup input {
    margin-bottom: 5px;
}

#eventparagraph {
    color: white;
}

#popupStartEndTimes {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

#popupStartEndTimes input{
    margin-left: 5px;
    margin-right: 5px;
}


/* clickPopup styling */
#clickPopup {
    display: grid;

    border-color: #2c3e50;
    border-radius: 5px;
    border-width: 2px;
    text-align: center;

    /*
    grid-template: 
                "a a"
                "b b"
                "c c"
                "d d"
                "e e";
    */
}

#clickPopup button {
    margin: 5px;
    padding: 5px;

    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.3s;
}

#clickPopup #closeButton {
    background-color: #d0d0d6;
}

#clickPopup #closeButton:hover {
    background-color: #9e9ea3;
}

#clickPopup #deleteButton {
    background-color: #d12c0a;
}

#clickPopup #deleteButton:hover {
    background-color: #ad2307;
}

#clickPopup h4 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #64646d;
}

#clickPopup h3 {
    margin-top: 0;
    margin-bottom: 10px;
}


/* SeriesPopup styling */
.seriesPopup {
    border-color: #2c3e50;
    border-radius: 5px;
    border-width: 2px;
    min-width: 16em;
    text-align: center;
}

.seriesPopup div {
    margin-bottom: 0.5em;
}

.seriesPopup p {
    text-align: center;
    margin-bottom: 3px;
    margin-top: 3px;
}

.seriesPopup select {
    text-align: center;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.popTimeSpan {
    display: grid;
    grid-template-columns: 45% 10% 45%;
}

.popDaySelect {
    display: flex;
    margin-bottom: 1em;
}

.popDaySelect div {
    margin: auto;
    border-bottom: 1px solid #2c3e50;
}

.popSarjaVaraaja {
    width: 100%;
}