div[name="kalenteri_name_css"] {
    max-width: 1100px;
    max-height: 702px;
    margin: 0 auto;
}

#varausPopup {
    display: grid;
    grid-template-columns: 2;
    grid-row: 3;
    border-radius: 5px;
}

#varausPopup button {
    margin: 5px;
    padding: 5px;

    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.3s;
}

#varausPopup select {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

#varausPopup #closeButton {
    background-color: #d0d0d6;
}

#varausPopup #closeButton:hover {
    background-color: #9e9ea3;
}

#varausPopup #addButton {
    margin-top: 10px;
    background-color: #5baa00;
}

#varausPopup #addButton:hover {
    background-color: #498701;
}

#varausPopup p {
    text-align: center;
    margin-bottom: 3px;
    margin-top: 3px;
}

#varausPopup input {
    margin-bottom: 5px;
}

#eventparagraph {
    color: white;
}

div[name="kalenteri_name_css"] table {
    background-color: transparent;
}

div[name="kalenteri_name_css"] .fc-day {
    border-color: #ddd;
}

div[name="kalenteri_name_css"] .fc-timegrid-slot {
    background-color: transparent;
}

div[name="kalenteri_name_css"] .fc-header-toolbar button{
    background-color: #5baa00;
}

div[name="kalenteri_name_css"] .fc-scrollgrid-section.fc-scrollgrid-section-header {
    max-height: 32px;
}

div[name="kalenteri_name_css"] .fc-scrollgrid-section.fc-scrollgrid-section-header .fc-scroller-harness {
    max-height: 32px;
}

#popupStartEndTimes {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

#popupStartEndTimes input{
    margin-left: 5px;
    margin-right: 5px;
}